@import url('https://fonts.googleapis.com/css2?family=Didot:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Didot", sans-serif;
    scroll-behavior: smooth;
    
}

:root {
    --teamColor: #04e0ec;
    --backgroundColor: #F7F7F7;
    --headingColor: #032e8c;
}

p {
    line-height: 30px !important;
    text-align: justify;
}

/* banner section css */

.container-body img{
      width: 100%;
      height: 800px;
    
}




header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 6px 100px;
    z-index: 1000;


}



header.sticky {
    padding: 10px 80px 1px 80px;
   
    box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
}

header .logo {
    position: relative;
    color: var(--textColor);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;
}

.logo img {
    height: 70px;
}

.nav__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    position: relative;
    list-style: none;
    margin-top: 15px;
}

.nav__item a {
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 500;
    transition: 0.6s;
    color: white;
    font-size: 14px
}

.nav__link {
    padding: 10px;
    color: #eeee;
    font-weight: 600;
}

.nav__link:hover {
    color: var(--teamColor);
}

.header__close,
.header__toggle {
    display: none;
}

header.sticky .logo,
header.sticky ul li a {
    color: var(--textColor);
}

.nav__list a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav__list a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--teamColor);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav__list a:hover:after {
    width: 100%;
    left: 0;
}
.heading h1{
    color: white;
    text-align: center;
    position: relative;
   bottom: 450px;
   font-size: 65px;
   font-family: "GFS Didot", serif;
    
}
.heading p{
    color: white;
    text-align: center;
    position: relative;
   bottom: 450px;
   font-size: 18px;

}

/* Contact section css */
.contact-section h1{
    text-align: center;
    font-size: 50px;
    font-family: "GFS Didot", serif;
 

}
.card{
    width: 490px;
    height: 645px;
    background-color: #0E222C;
    margin-top: 55px;
}
.card h3{
    font-size: 28px;
    font-family:"GFS Didot", serif ;
    color: white;
    margin: 40px;
}
.card p{
    font-size: 18px;
    position: relative;
    left: 40px;
    top: -30px;
    color: #fff;
}

.des-icons i{
    color: #fff;
    font-size: 28px;
    position: relative;
    top: 110px;
    left: 40px;
  
    
}
.des-icons h5{
    color: white;
    font-size: 16px;
    position: relative;
    left: 80px;
    top: 85px;
}
.mini-icons{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   flex-direction: row;
   gap: 20px;
  
}
.div-icons{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    margin-top: 230px;
    position: relative;
    left: 40px;

 
}
.div-icons i{
    font-size: 14px;
    color: black;
    margin: 8px 9px;

}
.round1 {
    width: 270px;
    height: 270px;
    background-color: #fff;
    opacity: 12%;
    border-radius: 100%;
    position: relative;
    left: 330px;
    bottom: 130px;

}
.small-round1{
    width: 128px;
    height: 128px;
    background-color: white;
    border-radius: 100%;
    opacity: 13%;
    position: relative;
    bottom: 420px;
    left: 280px;
    
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 60px;

}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
}

.input-row1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    top: 100px;
}


.input-row1 label{
    font-size: 12px;
    width: 10900px;
    position: relative;
    left: 10px;

}
.input-row p{
    color: #191919;
    font-size: 14px;
    
}
h4{
    font-size: 14px;
    margin-top: 45px;
    font-weight: bold;
}
.input-group1{
    margin-top: 150px;
}
.btn button{
    width: 205px;
    height: 55px;
    border-radius: 5px;
    background-color: #011C2B;
    position: relative;
    top: 40px;
    left:410px;
    color: #fff;
    font-size: 16px;

}
/* Contact section css */
.map{
    margin-top: 150px;
}
.map h1{
    text-align: center;
    font-family:"GFS Didot", serif ;
    font-size: 50px;

}
.map p{
    font-size: 18px;
    text-align: center;
}
.map .container{
    position: relative;
    top: 45px;
}
/*footer  section css */
.footer-section1{
    overflow: hidden;
}

.footer-section {
    margin-top: 150px;
    /* background-position: center; */
    background-size: cover;
    padding: 80px 0px 20px 0px;
    background-color: #07081C;
    width: 100%;
    height: 450px;
   
   
}
.footer-details{
    position: relative;
   
}

.footer-section img {
    height: 70px;
    width: 140px;
    position: relative;
   
}


.footer-section a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
 
}

.footer-section p{
    font-size: 13px;
    font-weight: lighter;
    position: relative;
    color: var(--backgroundColor);
    position: relative;
    top: 10px;

 
}

.footer-section h5 {
    color: #fff;
    font-weight: 400;
    margin-top:18px;
}

.footer-section ul {
    margin: 0px;
    padding: 0px;
}

.footer-section ul li {
    list-style: none;
    color: #fff;
    margin: 13px 0px 0px 0px;
}

.social-media {
    display: flex;
    color: #fff;
}
.innerix{ 
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 80px;
    
}
.footer-social{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}
.footer-social i{ 
  
    color: #fff;
}
.footer-nav  p{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    position: relative;
    left: 20px;
    top: 20px;
}

@media all and (max-width:700px) {
    html, body {
        overflow-x:hidden 
      } 
    body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    .logo img {
        height: 35px;
    }

    header {
        height: auto;
        justify-content: space-between;
        padding: 8px 20px 8px 20px;
    }

    .logo a {
        font-size: 0.9rem;
    }

    .header__toggle {
        display: inline;
        color: #ffffffee;
        font-size: 26px;
        margin-left: -50px;
        margin-top: -10px;
    }

    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--headingColor);
        color: #eeee;
        width: 100%;
        height: 100vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        border-radius: 0 0 0 0%;
    
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        margin-left: 32%;
    }

    .show {
        right: 0;
    }

    .nav__item {
        margin: 1.5rem 0;
    }

    header.sticky {
        padding: 8px 25px 8px 25px;
        background: #fff;
        box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
    }

    br {
        display: none !important;
    }

    /* banner-section css */
      .image-sec img{
          width: 100%;
          height: 500px;
      }

    .image-sec img{
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
    .heading h1{
        font-size: 35px;
        margin-top: 100px;

    }
    .heading p{
        font-size: 16px;
        

    }
      /* contacts section css */

      .contact-section{
        margin-top: -180px;
      }
.card{
    width: 100%;
    height: 645px;
    background-color: #0E222C;
    margin-top: 55px;
}
.card h3{
    font-size: 24px;
    font-family:"GFS Didot", serif ;
    color: white;
    margin: 40px;
}
.card p{
    font-size: 18px;
    position: relative;
    left: 40px;
    top: -30px;
    color: #fff;
}

.des-icons i{
    color: #fff;
    font-size: 28px;
    position: relative;
    top: 110px;
    left: 40px;
  
    
}
.des-icons i{
    color: #fff;
    font-size: 28px;
    position: relative;
    top: 110px;
    left: 20px;
  
    
}
.des-icons h5{
    color: white;
    font-size: 14px;
    position: relative;
    left: 60px;
    top: 85px;
    width: 70%;
}
.mini-icons{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   flex-direction: row;
   gap: 20px;
  
}
.round1 {
    width: 170px;
    height: 170px;
    background-color: #fff;
    opacity: 12%;
    border-radius: 100%;
    position: relative;
    left: 200px;
    bottom: 100px;

}
.small-round1{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    opacity: 13%;
    position: relative;
    bottom: 300px;
    left: 150px;
    
}
.div-icons{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    margin-top: 230px;
    position: relative;
    left: 20px;

 
}

/* map-section css */
.map{
    margin-top: 50px;

}
.map h1{
    font-size: 35px;

}
.map p{
    font-size: 15px;
    text-align: center;
  
}
.map .container{
    position: relative;
    top: 45px;
 
}
iframe{
    width: 100%;
    height: 400px;
} 
/* footer-section css */
.footer-section {
    margin-top: 50px;
    background-image: url('images/home/footer-background.webp');
    background-position: center;
    background-size: cover;
    padding: 40px 0px 20px 0px;
    height: 800px;
    }
    
    .footer-section img {
    height: 45px;
    margin-top: 30px;
    }
    .footer-section p{
        position: relative;
        top: -1px;
    }
    
    .footer-section h5 {
    color: #fff;
    font-weight: 600;
    position: relative;
    top: 20px;
    }
    .footer-section a{
        color: #fff;
        position: relative;
        top: 20px;

    }
    .footer-section i{
        position: relative;
        top: 20px;
    }
    
    .footer-line {
    height: 0.5px;
    width: 100%;
    background-color: #a8a8a8;
    margin-top: 30px;
    }
    
    .footer-nav { 
    margin-top: 30px;
    }
    
    .footer-nav p {
     font-size: 10px;
     margin-left: -30px;
    }
    }