@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
/*  */
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Didot", sans-serif; */
    scroll-behavior: smooth;
}

:root {
    --teamColor: #04e0ec;
    --backgroundColor: #F7F7F7;
    --headingColor: #032e8c;
}

p {
    line-height: 30px !important;
    text-align: justify;
}

/* banner section css */

.container-body img{
      width: 100%;
      height: 800px;
    
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 6px 100px;
    z-index: 1000;


}



header.sticky {
    padding: 10px 80px 1px 80px;
   
    box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
}

header .logo {
    position: relative;
    color: var(--textColor);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;
}

.logo img {
    height: 70px;
}

.nav__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    position: relative;
    list-style: none;
    margin-top: 15px;
}

.nav__item a {
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 500;
    transition: 0.6s;
    color: white;
    font-size: 14px
}

.nav__link {
    padding: 10px;
    color: #eeee;
    font-weight: 600;
}

.nav__link:hover {
    color: var(--teamColor);
}

.header__close,
.header__toggle {
    display: none;
}

header.sticky .logo,
header.sticky ul li a {
    color: var(--textColor);
}

.nav__list a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav__list a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--teamColor);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav__list a:hover:after {
    width: 100%;
    left: 0;
}
.heading h1{
    color: white;
    text-align: center;
    position: relative;
   bottom: 450px;
   font-size: 65px;
   font-family: "GFS Didot", serif;
    
}
.heading p{
    color: white;
    text-align: center;
    position: relative;
   bottom: 450px;
   font-size: 18px;

}
/* Product showcase section css */
.product-showcase{
    margin-top: 100px;
    overflow: hidden;
}

.product-showcase h1{
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: "GFS Didot", serif;
}
.product-showcase p{
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: -20px;
 
}
.product-showcase img{
    width: 100%;
    height: 300px ;
}
.product-showcase{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    
}
.product-showcase 
.col-lg-6{
    margin-top: 60px;
}
.small-des{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width:100%;
    height: 150px;
    box-shadow: 1px 2px 2px 2px rgba(214, 204, 214, 0.50);
   
}
.small-des h3{
    font-size: 18px;
    position: relative;
    left: 25px;
    top: 22px;
}
.small-des p{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    text-align: justify;
    position: relative;
    top: 15px;
    padding: 25px;
}

/*footer  section css */
.footer-section1{
    overflow: hidden;
}

.footer-section {
    margin-top: 150px;
    /* background-position: center; */
    background-size: cover;
    padding: 80px 0px 20px 0px;
    background-color: #07081C;
    width: 100%;
    height: 450px;
   
   
}
.footer-details{
    position: relative;
    top: px;
}

.footer-section img {
    height: 70px;
    width: 140px;
    position: relative;
   
}


.footer-section a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
 
}

.footer-section p{
    font-size: 13px;
    font-weight: lighter;
    position: relative;
    color: var(--backgroundColor);

 
}

.footer-section h5 {
    color: #fff;
    font-weight: 400;
    margin-top:18px;
}

.footer-section ul {
    margin: 0px;
    padding: 0px;
}

.footer-section ul li {
    list-style: none;
    color: #fff;
    margin: 13px 0px 0px 0px;
}

.social-media {
    display: flex;
    color: #fff;
}
.innerix{ 
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 80px;
    
}
.footer-social{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}
.footer-social i{ 
  
    color: #fff;
}
.footer-nav  p{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    position: relative;
    left: 20px;
    top: 20px;
}



@media all and (max-width:900px) {


   
}

@media all and (max-width:700px) {
    html, body {
        overflow-x:hidden 
      } 
   
    body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    .logo img {
        height: 35px;
    }

    header {
        height: auto;
        justify-content: space-between;
        padding: 8px 20px 8px 20px;
    }

    .logo a {
        font-size: 0.9rem;
    }

    .header__toggle {
        display: inline;
        color: #ffffffee;
        font-size: 26px;
        margin-left: -50px;
        margin-top: -10px;
    }

    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--headingColor);
        color: #eeee;
        width: 100%;
        height: 100vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        border-radius: 0 0 0 0%;
        z-index: 1000;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        margin-left: 32%;
    }

    .show {
        right: 0;
    }

    .nav__item {
        margin: 1.5rem 0;
    }

    header.sticky {
        padding: 8px 25px 8px 25px;
        background: #fff;
        box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
    }

    br {
        display: none !important;
    }

  /* banner-section css */
    .image-sec img{
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
    .heading h1{
        font-size: 35px;
        margin-top: 100px;

    }
    .heading p{
        font-size: 16px;
        

    }

   /* service-section css */
   .product-showcase{
    margin-top: -200px;
   }
   .product-showcase h1{
    font-size: 35px;
    
  
   }
   .product-showcase p{
    font-size: 16px;
   }



  /* footer-section css */
    .small-des{
        background-color: white;
        width: 100%;
        height: 150px;
        box-shadow: 3px 4px 4px 4px rgba(214, 214, 214, 0.50);
       
    }
    .small-des h3{
        font-size: 18px;
        position: relative;
        left: 10px;
        top:5px;
        
    }
    .small-des p{
        font-size: 14px;
        text-align: justify;
        position: relative;
        top: 10px;
        padding: 10px;
        line-height-step: normal;
    }
    /* footer-section css */
    .footer-section {
        margin-top: 50px;
        background-image: url('images/home/footer-background.webp');
        background-position: center;
        background-size: cover;
        padding: 40px 0px 20px 0px;
        height: 800px;
        }
        
        .footer-section img {
        height: 45px;
        margin-top: 30px;
        }
        .footer-section p{
            position: relative;
            top: -1px;
        }
        
        .footer-section h5 {
        color: #fff;
        font-weight: 600;
        position: relative;
        top: 20px;
        }
        .footer-section a{
            color: #fff;
            position: relative;
            top: 20px;
    
        }
        .footer-section i{
            position: relative;
            top: 20px;
        }
        
        .footer-line {
        height: 0.5px;
        width: 100%;
        background-color: #a8a8a8;
        margin-top: 30px;
        }
        
        .footer-nav { 
            margin-top: 30px;
            }
            
            .footer-nav p {
             font-size: 10px;
             margin-left: -30px;
            }
    

}