@import url('https://fonts.googleapis.com/css2?family=Didot:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Didot", sans-serif;
    scroll-behavior: smooth;
   

  
}

:root {
    --teamColor: #04e0ec;
    --backgroundColor: #F7F7F7;
    --headingColor: #032e8c;
}

p {
    line-height: 30px !important;
    text-align: justify;
}

/* banner section css */


.container-body img{
      width: 100%;
      height: 800px;
   
    
}



header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 6px 100px;
    z-index: 1000;
    overflow: hidden;


}



header.sticky {
    padding: 10px 80px 1px 80px;
   
    box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
}

header .logo {
    position: relative;
    color: var(--textColor);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;
}

.logo img {
    height: 70px;
}

.nav__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    position: relative;
    list-style: none;
    margin-top: 15px;
}

.nav__item a {
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 500;
    transition: 0.6s;
    color: white;
    font-size: 14px
}

.nav__link {
    padding: 10px;
    color: #eeee;
    font-weight: 600;
}

.nav__link:hover {
    color: var(--teamColor);
}

.header__close,
.header__toggle {
    display: none;
}

header.sticky .logo,
header.sticky ul li a {
    color: var(--textColor);
}

.nav__list a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav__list a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--teamColor);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav__list a:hover:after {
    width: 100%;
    left: 0;
}

.container h1{
    position: relative;
    margin: 0;
    bottom: 200px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 75px;
    font-family: "GFS Didot", serif;
    z-index: 1;
   
}


.container p{
    
    color: white;
    position: absolute;
    bottom: 110px;
    font-size: 18px;
    font-weight:lighter;
   
}
.container h2{
    color: #7DC5FA;
    font-size: 20px;
    width: 400px;
    position: relative;
    bottom: 12px;
    left: 80px;
}
.container button{
    width: 135px;
    height: 37px;
    background-color: #fff;
    font-size: 20px;
    border: none;
    position: relative;

}
.rec-line{
    width: 60px;
    height: 1.5px;
    background-color: #7DC5FA;
    position: relative;
    bottom: 620px;
}
.container-fluid-body{
    display: flex;
    justify-content: center;
    background-color: #0E222C;
    width: 100%;
    height: 1030px;
  
}

/* about  section css */
.about-section{
    position: relative;
    top: -40px;
}
.col-lg-6 img{
    width: 700px;
    height: 430px;
    margin-top: 120px;
}
.rec-line1{
    width: 60px;
    height: 1.5px;
    background-color: #7DC5FA;
    position: relative;
    top: 190px;
    margin-left: 30px;
}
.rec-line1 h2{
    color: #7DC5FA;
    font-size: 18px;
    width: 400px;
    position: relative;
    margin-left: 10px;
    
}
.rec-line1 h1{
    font-size: 65px;
    width: 400px;
    position: relative;
    top: 10px;
}
.rec-line1 p{
    width: 470px;
    text-align: justify;
    font-size: 18px;
    position: relative;
    top: 10px;
    
}
.col-lg-3 h3{
    color: white;
    font-size: 26px;
    margin-top: 20px;
    font-family: "GFS Didot", serif;
}
.col-lg-3 img{
    width: 26px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 140px;
    position: relative;
    left: 100px;
   
}
.col-lg-3 p{
    font-size: 14px;
    position: relative;
    text-align: justify;
    top: 15px;

}
/* Product showcase section css */
.product-showcase{
    margin-top: 150px;
}

.product-showcase h1{
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: "GFS Didot", serif;
}
.product-showcase p{
    font-size: 18px;
    text-align: center;
    color: black;
    margin-top: -20px;
 
}
.product-showcase img{
    width: 100%;
    height: 95% ;
    overflow: hidden;
}
.product-showcase{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}
/* Services section css */
.services-sections{
      margin-top: 200px;
}
.container-fluid-body1 h1{
    font-size: 60px;
    text-align: center;
    font-family: "GFS Didot", serif;
    color: white;
    position: relative;
    top: 110px;
}
.container-fluid-body1 p{
    text-align: center;
    font-size: 18px;
    color: white;
    position: relative;
    top: 110px;
}
.container-fluid-body1{
    width: 100%;
    height: 1020px;
    background-color: #0E222C;
     
    
}
.container-fluid-body1 .container .row p{
    font-size: 14px;
    text-align: justify;
    position: relative;
    top: -1px;

}
.container-fluid-body1 .container .row{
    margin-top: 50px;
    overflow: hidden;
}
.gallery-section h1{
    margin-top: 160px;
    font-size: 45px;
    font-family: "GFS Didot", serif;
    text-align: center;


}
.gallery-section p{
    text-align: center;
    font-size: 16px;
}
.gallery-section img{
  width: 100%;
  height: 280px;
  margin-top: 100px;
  overflow: hidden;
}
.shadow-div{
    width: 100%;
    height: 45px;
    background-color: #191919;
    opacity: 70%;
    margin-top: -55px;
}
.shadow-div h4{
    color: white;
    font-size: 18px;
    margin: 10px 13px;
    position: relative;
    top: 10px;
}
/*clients section css */
.container-fluid-body2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 590px;
    background-color: #0E222C;
    margin-top: 170px;

}
.container-fluid-body2 h1{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: "GFS Didot", serif;
   position: relative;
   top: 55px;

}
.small-rectangle{
    width: 400px;
    height: 132px;
    background-color: #fff;
    margin-top: 100px;
}
.small-rectangle img{
    width: 155px;
    height: 65px;
    margin: 30px 110px;
    
}
/* Contact section css */
.contact-section h1{
    text-align: center;
    font-size: 50px;
    font-family: "GFS Didot", serif;
    margin-top: 170px;

}
.card{
    width: 490px;
    height: 645px;
    background-color: #0E222C;
    margin-top: 55px;
}
.card h3{
    font-size: 28px;
    font-family:"GFS Didot", serif ;
    color: white;
    margin: 40px;
}
.card p{
    font-size: 18px;
    position: relative;
    left: 40px;
    color: #fff;
}

.des-icons i{
    color: #fff;
    font-size: 28px;
    position: relative;
    top: 110px;
    left: 40px;
  
    
}
.des-icons h5{
    color: white;
    font-size: 16px;
    position: relative;
    left: 80px;
    top: 85px;
}
.mini-icons{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   flex-direction: row;
   gap: 20px;
  
}
.div-icons{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    margin-top: 230px;
    position: relative;
    left: 40px;

 
}
.div-icons i{
    font-size: 14px;
    color: black;
    margin: 8px 9px;

}
.round1 {
    width: 270px;
    height: 270px;
    background-color: #fff;
    opacity: 12%;
    border-radius: 100%;
    position: relative;
    left: 330px;
    bottom: 130px;

}
.small-round1{
    width: 128px;
    height: 128px;
    background-color: white;
    border-radius: 100%;
    opacity: 13%;
    position: relative;
    bottom: 420px;
    left: 280px;
    
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 60px;

}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
}

.input-row1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    top: 100px;
}


.input-row1 label{
    font-size: 12px;
    width: 10900px;
    position: relative;
    left: 10px;

}
.input-row p{
    color: #191919;
    font-size: 14px;
    
}
h4{
    font-size: 14px;
    margin-top: 45px;
    font-weight: bold;
}
.input-group1{
    margin-top: 150px;
}
.btn button{
    width: 205px;
    height: 55px;
    border-radius: 5px;
    background-color: #011C2B;
    position: relative;
    top: 40px;
    left:410px;
    color: #fff;
    font-size: 16px;

}
/*footer  section css */
.footer-section1{
    overflow: hidden;
}

.footer-section {
    margin-top: 150px;
    /* background-position: center; */
    background-size: cover;
    padding: 80px 0px 20px 0px;
    background-color: #07081C;
    width: 100%;
    height: 450px;
   
   
}
.footer-details{
    position: relative;
   
}

.footer-section img {
    height: 70px;
    width: 140px;
    position: relative;
   
}


.footer-section a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
 
}

.footer-section p{
    font-size: 13px;
    font-weight: lighter;
    position: relative;
    color: var(--backgroundColor);
    position: relative;
    top: 10px;

 
}

.footer-section h5 {
    color: #fff;
    font-weight: 400;
    margin-top:18px;
}

.footer-section ul {
    margin: 0px;
    padding: 0px;
}

.footer-section ul li {
    list-style: none;
    color: #fff;
    margin: 13px 0px 0px 0px;
}

.social-media {
    display: flex;
    color: #fff;
}
.innerix{ 
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 80px;
    
}
.footer-social{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}
.footer-social i{ 
  
    color: #fff;
}
.footer-nav  p{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    position: relative;
    left: 20px;
    top: 20px;
}



@media all and (max-width:900px) {


    /* navbar css */
    body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }

    .logo a {
        font-size: 0.9rem;
    }

    .header__toggle {
        display: inline;
        color: #000000ee;
        font-size: 24px;
    }

    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--headingColor);
        color: #eeee;
        width: 40%;
        height: 100vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
        z-index: 1000;
    }

    header.sticky {
        padding: 10px 60px 10px 60px;
        background: #fff;
        box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
    }

    header .logo {
        position: relative;
        color: var(--textColor);
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.6s;
    }

    .logo img {
        height: 40px;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }

    .show {
        right: 0;

    }

    .nav__item {
        margin: 2rem 0;
    }

    .dowload-btn,
    .demo-btn {
        display: none;
    }

    /* banner section css */

}




@media all and (max-width:700px) {
    html, body {
        overflow-x:hidden 
      } 

     body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    .logo img {
        height: 35px;
    }

    header {
        height: auto;
        justify-content: space-between;
        padding: 8px 20px 8px 20px;
    }

    .logo a {
        font-size: 0.9rem;
    }

    .header__toggle {
        display: inline;
        color: #ffffffee;
        font-size: 26px;
        margin-left: -50px;
        margin-top: -10px;
       
    }

    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
        
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--headingColor);
        color: #eeee;
        width: 100%;
        height: 100vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        border-radius: 0 0 0 0%;
        z-index: 1000;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        margin-left: 32%;
    }

    .show {
        right: 0;
    }

    .nav__item {
        margin: 1.5rem 0;
    }

    header.sticky {
        padding: 8px 25px 8px 25px;
        background: #fff;
        box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
    }

    br {
        display: none !important;
    }

  

     /* banner section css */
     .image-sec img{
        width: 100%;
        height: 500px;
       
     }

     .container h1{
        position: relative;
        margin: 0;
        bottom: 230px;
        color: rgb(255, 255, 255);
        position: absolute;
        font-size: 35px;
        font-family: "GFS Didot", serif;
        z-index: 1;
        top: -400px;
    }

     .container p{
        width: 90%;
        color: white;
        position: absolute;
        font-size: 14px;
        font-weight:lighter;
        top: -300px;
        
    }
    .container h2{
        color: #7DC5FA;
        font-size: 16px;
        width: 400px;
        position: relative;
        left: 50px;
    }
    .container button{
        width: 135px;
        height: 37px;
        background-color: #fff;
        font-size: 20px;
        border: none;
        position: absolute;
        top: -120px;
       
     
    }
    .rec-line{
        width: 40px;
        height: 1.5px;
        background-color: #7DC5FA;
        position: relative;
        top: -170px;
    }
    /* product section section css */
    .product-showcase{
        margin-top: 150px;
    }
    
    .product-showcase h1{
        font-size:35px;
        text-align: center;
        color: black;
        font-family: "GFS Didot", serif;
    }
    .product-showcase p{
        font-size: 16px;
        text-align: center;
        color: black;
        margin-top: -20px;
    }
    .product-showcase img{
        width: 100%;
        height: 95% ;
    }
        /* about section css */

    .about-section{
        position: relative;
        top: -10px;
    }
    .col-lg-6 img{
        width: 700px;
        height: 380px;
        margin-top: 50px;
    }
    .rec-line1{
        width: 60px;
        height: 1.5px;
        background-color: #7DC5FA;
        position: relative;
        top: 50px;
        left: -30px;
       
    }
    .rec-line1 h2{
        color: #7DC5FA;
        font-size: 18px;
        width: 400px;
        position: relative;
        margin-left: 20px;
        
    }
    .rec-line1 h1{
        font-size: 35px;
        width: 400px;
        position: relative;
        top: 10px;
        /* left: 30px; */
    }
    .rec-line1 p{
        width: 350px;
        text-align: justify;
        font-size: 14px;
        position: relative;
        top: 10px;
        /* left: -30px; */
        
    }
    .container-fluid-body{
        
        background-color: #0E222C;
        width: 100%;
        height: 1600px;
    }
    .col-lg-3 h3{
        color: white;
        font-size: 26px;
        margin-top: 20px;
        font-family: "GFS Didot", serif;
     
        
    }
    .col-lg-3 img{
        width: 26px;
        height: 30px;
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
        gap: 5px;
        object-fit: contain;
    }
    .col-lg-3 p{
        font-size: 14px;
        width:100%;
        position: relative;
        text-align:justify;
        top: 15px;
    
    }
    .col-lg-3{
        position: relative;
        top: 250px;
        margin-top: -100px;
         /* left: 8%; */
    
    }

    /* service section css */


.services-sections{
      margin-top: 50px;
}

.container-fluid-body1 h1{
    font-size: 35px;
    text-align: center;
    font-family: "GFS Didot", serif;
    color: white;
    position: relative;
    top: 110px;
}
.container-fluid-body1 p{
    text-align: center;
    font-size: 16px;
    color: white;
    position: relative;
    width: 100%;
 
}
.container-fluid-body1{
    width: 100%;
    height: 2250px;
    background-color: #0E222C;
     
    
}
.container-fluid-body1 .container .row {
    font-size: 14px;
    text-align: justify;
    position: relative;
    top: -150px;
    

}

.container-fluid-body1 .container .row{
    margin-top: 50px;
}

   /* gallery section css */
.col-lg-4{
    margin-top: -50px;
    position: relative;
    top: 30px;
}   
.gallery-section h1{
    margin-top: 160px;
    font-size: 35px;
    font-family: "GFS Didot", serif;
    text-align: center;


}
.gallery-section p{
    text-align: center;
    font-size: 16px;
}
.gallery-section img{
  width: 400px;
  height: 280px;
  position: relative;
  top: -80px;

}
.col-lg-6{
   
    position: relative;
    margin-top: -20px;
    top: 30px;
}

.shadow-div{
    width:100%;
    height: 45px;
    background-color: #191919;
    opacity: 70%;
   position: relative;
   bottom: 80px;
}
.shadow-div h4{
    color: white;
    font-size: 18px;
    margin: 10px 13px;
    position: relative;
    top: 10px;
}

 /* clients section css */
 .client-section{
    margin-top: -80px;
 }
 .small-rectangle{
    width:100%;
    height: 132px;
    background-color: #fff;
    margin-top: 80px;
}
.small-rectangle img{
    width: 155px;
    height: 65px;
    margin: 30px 110px;
    object-fit: contain;
    
}
.container-fluid-body2{
    width: 100%;
    height: 1100px;
    background-color: #0E222C;
    margin-top: 170px;
}
 /* contacts section css */
 .contact-section{
    position: relative;
    top: -100px;
 }
.card{
    width: 100%;
    height: 645px;
    background-color: #0E222C;
    margin-top: 30px;
}
.card h3{
    font-size: 24px;
    font-family:"GFS Didot", serif ;
    color: white;
    margin: 40px;
}
.card p{
    font-size: 18px;
    position: relative;
    top: -30px;
   
}

.des-icons i{
    color: #fff;
    font-size: 28px;
    position: relative;
    top: 110px;
    left: 40px;
  
    
}
.des-icons i{
    color: #fff;
    font-size: 28px;
    position: relative;
    top: 110px;
    left: 20px;
  
    
}
.des-icons h5{
    color: white;
    font-size: 14px;
    position: relative;
    left: 60px;
    top: 85px;
    width: 70%;
}
.mini-icons{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   flex-direction: row;
   gap: 20px;
  
}
.round1 {
    width: 170px;
    height: 170px;
    background-color: #fff;
    opacity: 12%;
    border-radius: 100%;
    position: relative;
    left: 200px;
    bottom: 100px;

}
.small-round1{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    opacity: 13%;
    position: relative;
    bottom: 300px;
    left: 150px;
    
}
.div-icons{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    margin-top: 230px;
    position: relative;
    left: 20px;

 
}
input-row1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    top: 100px;
}


.input-row1 label{
    font-size: 10px;
    width: 20900px;
    position: relative;
    left: 10px;
    top: 10px;

}

/* footer-section css */

.footer-section {
    margin-top: 50px;
    background-image: url('images/home/footer-background.webp');
    background-position: center;
    background-size: cover;
    padding: 40px 0px 20px 0px;
    height: 830px;
    overflow: hidden;
    }
    
    .footer-section img {
    height: 45px;
    margin-top: 30px;
    }
    .footer-section p{
        position: relative;
        top: -1px;
    }
    
    .footer-section h5 {
    color: #fff;
    font-weight: 600;
    position: relative;
    top: 20px;
    }
    .footer-section a{
        color: #fff;
        position: relative;
        top: 20px;

    }
    .footer-section i{
        position: relative;
        top: 20px;
    }
    
    .footer-line {
    height: 0.5px;
    width: 100%;
    background-color: #a8a8a8;
    margin-top: 30px;
    }
    .footer-nav { 
        margin-top: 10px;
        }
        
        .footer-nav p {
         font-size: 10px;
         margin-left: -10px;
        }
    
    
    }

    
    
